:root {
	--monospace: Consolas, 'Courier New', Courier, monospace;
	--background-color: #1e1e1e;
	--foreground-color: #9cdcfe;

	height: 100vh;
}

body {
	margin: 0;
	background-color: var(--background-color);
}

.inputs {
	position: absolute;
	top: 0;
	left: 0;

	color: white;
	opacity: .2;
	transition: opacity .25s;

	padding: 1rem;
	font-family: var(--monospace);
}

.inputs * {
	font-family: var(--monospace);
}

.inputs:hover {
	opacity: 1;
}
